.conteudo {
    margin: auto;
    margin-top: 50px;
    max-width: 500px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}
.borda {
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 5px 5px black;
}

.espacamento {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: justify;
    max-width: 90%;
}