<div class="content">
    Este software é uma aplicação que gerencia uma bilheteria de cinema no qual o usuário
    (atendente) pode visualizar os assentos ocupados e disponíveis numa determinada sessão, como também, 
    assinalar uma cadeira a um cliente. <br>
    Este app possui outros tipos de funcionalidades como visualizar, editar, criar e excluir
    sessões do cinema.
    <hr>
    <div style="text-align: center;">
        <button class="btn btn-dark" (click)="fechar()">Voltar</button>
    </div>
</div>